82.627 192 276V236C192 229.373 186.627 224 180 224H140C133.373 224 128 229.373 128 236V276zM180 128H140C133.373 128 128 133.373 128 140V180C128 186.627 133.373 192 140 192H180C186.627 192 192 186.627 192 180V140C192 133.373 186.627 128 180 128zM256 -32H192V52C192 58.627 197.373 64 204 64H244C250.627 64 256 58.627 256 52V-32zM320 140C320 133.373 314.627 128 308 128H268C261.373 128 256 133.373 256 140V180C256 186.627 261.373 192 268 192H308C314.627 192 320 186.627 320 180V140zM320 236C320 229.373 314.627 224 308 224H268C261.373 224 256 229.373 256 236V276C256 282.627 261.373 288 268 288H308C314.627 288 320 282.627 320 276V236zM320 332C320 325.373 314.627 320 308 320H268C261.373 320 256 325.373 256 332V372C256 378.627 261.373 384 268 384H308C314.627 384 320 378.627 320 372V332z" />
    <glyph glyph-name="bullhorn"
      unicode="&#xF0A1;"
      horiz-adv-x="576" d=" M576 208C576 231.63 563.05 252.04 544 263.12V415.99C544 424.74 537.02 448 512 448C504.88 448 497.81 445.62 492.02 440.98L406.99 372.95C364.28 338.81 310.6600000000001 320 256 320H64C28.65 320 0 291.35 0 256V160C0 124.65 28.65 96 64 96H97.7C96.31 85.52 95.52 74.86 95.52 64C95.52 24.23 104.78 -13.35 121.08 -46.94C126.27 -57.63 137.6 -64 149.48 -64H223.76C249.81 -64 265.45 -34.16 249.66 -13.44C233.26 8.08 223.51 34.92 223.51 64C223.51 75.11 225.13 85.79 227.92 96H256C310.66 96 364.28 77.19 406.98 43.05L492.01 -24.98A32.023 32.023 0 0 1 511.99 -32C536.91 -32 543.99 -9.22 543.99 0V152.87C563.05 163.96 576 184.37 576 208zM480 66.58L446.95 93.02C392.95 136.22 325.12 160 256 160V256C325.12 256 392.95 279.78 446.95 322.98L480 349.42V66.58z" />
    <glyph glyph-name="bullseye"
      unicode="&#xF140;"
      horiz-adv-x="496" d=" M248 440C111.03 440 0 328.9700000000001 0 192S111.03 -56 248 -56S496 55.03 496 192S384.9700000000001 440 248 440zM248 8C146.31 8 64 90.29 64 192C64 293.69 146.29 376 248 376C349.69 376 432 293.71 432 192C432 90.31 349.71 8 248 8zM248 320C177.31 320 120 262.69 120 192S177.31 64 248 64S376 121.31 376 192S318.69 320 248 320zM248 128C212.71 128 184 156.71 184 192S212.71 256 248 256S312 227.29 312 192S283.29 128 248 128z" />
    <glyph glyph-name="burn"
      unicode="&#xF46A;"
      horiz-adv-x="384" d=" M192 448C79.7 346.7 0 227.1 0 147.5C0 23 79 -64 192 -64S384 23 384 147.5C384 227.4 303.8 347.1 192 448zM192 0C135.5 0 96 39 96 94.8C96 108.3 100.6 156.3 192 256C283.4 156.3 288 108.3 288 94.8C288 39 248.5 0 192 0z" />
    <glyph glyph-name="bus-alt"
      unicode="&#xF55E;"
      horiz-adv-x="512" d=" M488 320H480V368C480 412.8 380.8 448 256 448S32 412.8 32 368V320H24C10.75 320 0 309.26 0 296V216C0 202.75 10.75 192 24 192H32V32C32 14.33 46.33 0 64 0V-32C64 -49.67 78.33 -64 96 -64H128C145.67 -64 160 -49.67 160 -32V0H352V-32C352 -49.67 366.33 -64 384 -64H416C433.67 -64 448 -49.67 448 -32V0H454.4C470.4 0 480 12.8 480 25.6V192H488C501.25 192 512 202.75 512 216V296C512 309.26 501.25 320 488 320zM160 376C160 380.42 163.58 384 168 384H344C348.42 384 352 380.42 352 376V360C352 355.58 348.42 352 344 352H168C163.58 352 160 355.58 160 360V376zM112 48C94.33 48 80 62.33 80 80S94.33 112 112 112S144 97.67 144 80S129.67 48 112 48zM240 160H128C110.33 160 96 174.33 96 192V288C96 305.67 110.33 320 128 320H240V160zM272 160V320H384C401.67 320 416 305.67 416 288V192C416 174.33 401.67 160 384 160H272zM400 48C382.33 48 368 62.33 368 80S382.33 112 400 112S432 97.67 432 80S417.67 48 400 48z" />
    <glyph glyph-name="bus"
      unicode="&#xF207;"
      horiz-adv-x="512" d=" M488 320H480V368C480 412.8 380.8 448 256 448S32 412.8 32 368V320H24C10.75 320 0 309.26 0 296V216C0 202.75 10.75 192 24 192H32V32C32 14.33 46.33 0 64 0V-32C64 -49.67 78.33 -64 96 -64H128C145.67 -64 160 -49.67 160 -32V0H352V-32C352 -49.67 366.33 -64 384 -64H416C433.67 -64 448 -49.67 448 -32V0H454.4C470.4 0 480 12.8 480 25.6V192H488C501.25 192 512 202.75 512 216V296C512 309.26 501.25 320 488 320zM112 48C94.33 48 80 62.33 80 80S94.33 112 112 112S144 97.67 144 80S129.67 48 112 48zM128 160C110.33 160 96 174.33 96 192V320C96 337.67 110.33 352 128 352H384C401.67 352 416 337.67 416 320V192C416 174.33 401.67 160 384 160H128zM400 48C382.33 48 368 62.33 368 80S382.33 112 400 112S432 97.67 432 80S417.67 48 400 48z" />
    <glyph glyph-name="business-time"
      unicode="&#xF64A;"
      horiz-adv-x="640" d=" M496 224C416.41 224 352 159.59 352 80S416.41 -64 496 -64S640 0.41 640 80S575.59 224 496 224zM560 73.71C560 68.3700000000001 555.63 64.0000000000001 550.29 64.0000000000001H489.72C484.38 64.0000000000001 480.01 68.3700000000001 480.01 73.71V150.28C480.01 155.62 484.38 159.99 489.72 159.99H502.29C507.6299999999999 159.99 511.9999999999999 155.62 511.9999999999999 150.28V96H550.29C555.63 96 560 91.63 560 86.29V73.71zM496 256C501.4 256 506.72 255.67 512 255.19V304C512 329.6 489.6 352 464 352H384V400C384 425.6 361.6 448 336 448H176C150.4 448 128 425.6 128 400V352H48C22.4 352 0 329.6 0 304V224H395.12C423.7200000000001 244.09 458.47 256 496 256zM320 352H192V384H320V352zM326.82 128H208C199.16 128 192 135.16 192 144V192H0V48C0 22.4 22.4 0 48 0H339.43C327.1 24.04 320 51.18 320 80C320 96.66 322.48 112.72 326.82 128z" />
    <glyph glyph-name="calculator"
      unicode="&#xF1EC;"
      horiz-adv-x="448" d=" M400 448H48C22.4 448 0 425.6 0 400V-16C0 -41.6 22.4 -64 48 -64H400C425.6 -64 448 -41.6 448 -16V400C448 425.6 425.6 448 400 448zM128 12.8C128 6.4 121.6 0 115.2 0H76.8C70.4 0 64 6.4 64 12.8V51.2C64 57.6 70.4 64 76.8 64H115.2C121.6 64 128 57.6 128 51.2V12.8zM128 140.8C128 134.4 121.6 128 115.2 128H76.8C70.4 128 64 134.4 64 140.8V179.2C64 185.6 70.4 192 76.8 192H115.2C121.6 192 128 185.6 128 179.2V140.8zM256 12.8C256 6.4 249.6 0 243.2 0H204.8C198.4 0 192 6.4 192 12.8V51.2C192 57.6 198.4 64 204.8 64H243.2C249.6 64 256 57.6 256 51.2V12.8zM256 140.8C256 134.4 249.6 128 243.2 128H204.8C198.4 128 192 134.4 192 140.8V179.2C192 185.6 198.4 192 204.8 192H243.2C249.6 192 256 185.6 256 179.2V140.8zM384 12.8C384 6.4 377.6 0 371.2 0H332.8C326.4000000000001 0 320 6.4 320 12.8V179.2C320 185.6 326.4 192 332.8 192H371.2C377.6 192 384 185.6 384 179.2V12.8zM384 268.8C384 262.4 377.6 256 371.2 256H76.8C70.4 256 64 262.4 64 268.8V371.2C64 377.6 70.4 384 76.8 384H371.2C377.6 384 384 377.6 384 371.2V268.8z" />
    <glyph glyph-name="calendar-alt"
      unicode="&#xF073;"
      horiz-adv-x="448" d=" M436 288H12C5.4 288 0 293.4 0 300V336C0 362.5 21.5 384 48 384H96V436C96 442.6 101.4 448 108 448H148C154.6 448 160 442.6 160 436V384H288V436C288 442.6 293.4 448 300 448H340C346.6 448 352 442.6 352 436V384H400C426.5 384 448 362.5 448 336V300C448 293.4 442.6 288 436 288zM12 256H436C442.6 256 448 250.6 448 244V-16C448 -42.5 426.5 -64 400 -64H48C21.5 -64 0 -42.5 0 -16V244C0 250.6 5.4 256 12 256zM128 52C128 58.6 122.6 64 116 64H76C69.4 64 64 58.6 64 52V12C64 5.4 69.4 0 76 0H116C122.6 0 128 5.4 128 12V52zM128 180C128 186.6 122.6 192 116 192H76C69.4 192 64 186.6 64 180V140C64 133.4 69.4 128 76 128H116C122.6 128 128 133.4 128 140V180zM256 52C256 58.6 250.6 64 244 64H204C197.4 64 192 58.6 192 52V12C192 5.4 197.4 0 204 0H244C250.6 0 256 5.4 256 12V52zM256 180C256 186.6 250.6 192 244 192H204C197.4 192 192 186.6 192 180V140C192 133.4 197.4 128 204 128H244C250.6 128 256 133.4 256 140V180zM384 52C384 58.6 378.6 64 372 64H332C325.4 64 320 58.6 320 52V12C320 5.4 325.4 0 332 0H372C378.6 0 384 5.4 384 12V52zM384 180C384 186.6 378.6 192 372 192H332C325.4 192 320 186.6 320 180V140C320 133.4 325.4 128 332 128H372C378.6 128 384 133.4 384 140V180z" />
    <glyph glyph-name="calendar-check"
      unicode="&#xF274;"
      horiz-adv-x="448" d=" M436 288H12C5.373 288 0 293.373 0 300V336C0 362.51 21.49 384 48 384H96V436C96 442.627 101.373 448 108 448H148C154.627 448 160 442.627 160 436V384H288V436C288 442.627 293.373 448 300 448H340C346.627 448 352 442.627 352 436V384H400C426.51 384 448 362.51 448 336V300C448 293.373 442.627 288 436 288zM12 256H436C442.627 256 448 250.627 448 244V-16C448 -42.51 426.51 -64 400 -64H48C21.49 -64 0 -42.51 0 -16V244C0 250.627 5.373 256 12 256zM345.296 160.053L317.127 188.451C312.4600000000001 193.156 304.862 193.187 300.1570000000001 188.519L194.12 83.335L148.14 129.687C143.473 134.392 135.874 134.423 131.169 129.755L102.772 101.5849999999999C98.067 96.918 98.036 89.3199999999999 102.704 84.6149999999999L185.305 1.3459999999999C189.972 -3.3590000000001 197.57 -3.3900000000001 202.275 1.2779999999999L345.228 143.0829999999999C349.933 147.7499999999999 349.964 155.3479999999999 345.296 160.0529999999999z" />
    <glyph glyph-name="calendar-minus"
      unicode="&#xF272;"
      horiz-adv-x="448" d=" M436 288H12C5.4 288 0 293.4 0 300V336C0 362.5 21.5 384 48 384H96V436C96 442.6 101.4 448 108 448H148C154.6 448 160 442.6 160 436V384H288V436C288 442.6 293.4 448 300 448H340C346.6 448 352 442.6 352 436V384H400C426.5 384 448 362.5 448 336V300C448 293.4 442.6 288 436 288zM12 256H436C442.6 256 448 250.6 448 244V-16C448 -42.5 426.5 -64 400 -64H48C21.5 -64 0 -42.5 0 -16V244C0 250.6 5.4 256 12 256zM316 64C322.6 64 328 69.4 328 76V116C328 122.6 322.6 128 316 128H132C125.4 128 120 122.6 120 116V76C120 69.4 125.4 64 132 64H316z" />
    <glyph glyph-name="calendar-plus"
      unicode="&#xF271;"
      horiz-adv-x="448" d=" M436 288H12C5.4 288 0 293.4 0 300V336C0 362.5 21.5 384 48 384H96V436C96 442.6 101.4 448 108 448H148C154.6 448 160 442.6 160 436V384H288V436C288 442.6 293.4 448 300 448H340C346.6 448 352 442.6 352 436V384H400C426.5 384 448 362.5 448 336V300C448 293.4 442.6 288 436 288zM12 256H436C442.6 256 448 250.6 448 244V-16C448 -42.5 426.5 -64 400 -64H48C21.5 -64 0 -42.5 0 -16V244C0 250.6 5.4 256 12 256zM328 116C328 122.6 322.6 128 316 128H256V188C256 194.6 250.6 200 244 200H204C197.4 200 192 194.6 192 188V128H132C125.4 128 120 122.6 120 116V76C120 69.4 125.4 64 132 64H192V4C192 -2.6 197.4 -8 204 -8H244C250.6 -8 256 -2.6 256 4V64H316C322.6 64 328 69.4 328 76V116z" />
    <glyph glyph-name="calendar-times"
      unicode="&#xF273;"
      horiz-adv-x="448" d=" M436 288H12C5.4 288 0 293.4 0 300V336C0 362.5 21.5 384 48 384H96V436C96 442.6 101.4 448 108 448H148C154.6 448 160 442.6 160 436V384H288V436C288 442.6 293.4 448 300 448H340C346.6 448 352 442.6 352 436V384H400C426.5 384 448 362.5 448 336V300C448 293.4 442.6 288 436 288zM12 256H436C442.6 256 448 250.6 448 244V-16C448 -42.5 426.5 -64 400 -64H48C21.5 -64 0 -42.5 0 -16V244C0 250.6 5.4 256 12 256zM269.3 96L317.4000000000001 144.1C322.1 148.8 322.1 156.4 317.4000000000001 161.1L289.1 189.4C284.4000000000001 194.1 276.8 194.1 272.1 189.4L224 141.3L175.9 189.4C171.2 194.1 163.6 194.1 158.9 189.4L130.6 161.1C125.9 156.4 125.9 148.8 130.6 144.1L178.7 96L130.6 47.9C125.9 43.2 125.9 35.6 130.6 30.9L158.9 2.6C163.6 -2.1 171.2 -2.1 175.9 2.6L224 50.7L272.1 2.6C276.8 -2.1 284.4000000000001 -2.1 289.1 2.6L317.4000000000001 30.9C322.1 35.6 322.1 43.2 317.4000000000001 47.9L269.3 96z" />
    <glyph glyph-name="calendar"
      unicode="&#xF133;"
      horiz-adv-x="448" d=" M12 256H436C442.6 256 448 250.6 448 244V-16C448 -42.5 426.5 -64 400 -64H48C21.5 -64 0 -42.5 0 -16V244C0 250.6 5.4 256 12 256zM448 300V336C448 362.5 426.5 384 400 384H352V436C352 442.6 346.6 448 340 448H300C293.4 448 288 442.6 288 436V384H160V436C160 442.6 154.6 448 148 448H108C101.4 448 96 442.6 96 436V384H48C21.5 384 0 362.5 0 336V300C0 293.4 5.4 288 12 288H436C442.6 288 448 293.4 448 300z" />
    <glyph glyph-name="camera-retro"
      unicode="&#xF083;"
      horiz-adv-x="512" d=" M48 416C21.5 416 0 394.5 0 368V16C0 -10.5 21.5 -32 48 -32H464C490.5 -32 512 -10.5 512 16V368C512 394.5 490.5 416 464 416H48zM48 384H154C157.3 384 160 381.3 160 378V358C160 354.7 157.3 352 154 352H38C34.7 352 32 354.7 32 358V368C32 376.8 39.2 384 48 384zM474 288H38C34.7 288 32 290.7 32 294V330C32 333.3 34.7 336 38 336H176L206.2 381.3C207.3 383 209.2 384 211.2 384H464C472.8 384 480 376.8 480 368V294C480 290.7 477.3 288 474 288zM256 24C189.8 24 136 77.8 136 144S189.8 264 256 264S376 210.2 376 144S322.2 24 256 24zM256 232C207.5 232 168 192.5 168 144S207.5 56 256 56S344 95.5 344 144S304.5 232 256 232zM208 128C199.2 128 192 135.2 192 144C192 179.3 220.7 208 256 208C264.8 208 272 200.8 272 192S264.8 176 256 176C238.4 176 224 161.6 224 144C224 135.2 216.8 128 208 128z" />
    <glyph glyph-name="camera"
      unicode="&#xF030;"
      horiz-adv-x="512" d=" M512 304V16C512 -10.5 490.5 -32 464 -32H48C21.5 -32 0 -10.5 0 16V304C0 330.5 21.5 352 48 352H136L148.3 384.9C155.3 403.6 173.2 416 193.2 416H318.7000000000001C338.7000000000001 416 356.6 403.6 363.6 384.9L376 352H464C490.5 352 512 330.5 512 304zM376 160C376 226.2 322.2 280 256 280S136 226.2 136 160S189.8 40 256 40S376 93.8 376 160zM344 160C344 111.5 304.5 72 256 72S168 111.5 168 160S207.5 248 256 248S344 208.5 344 160z" />
    <glyph glyph-name="campground"
      unicode="&#xF6BB;"
      horiz-adv-x="640" d=" M624 0H599.32L359.54 330.25L412.9500000000001 403.8C418.1400000000001 410.95 416.5600000000001 420.96 409.4100000000001 426.15L383.5100000000001 444.94C376.3600000000001 450.13 366.3600000000001 448.55 361.1600000000001 441.39L320 384.7L278.83 441.4C273.64 448.55 263.63 450.14 256.48 444.95L230.6 426.15C223.45 420.96 221.86 410.95 227.06 403.8L280.47 330.25L40.68 0H16C7.16 0 0 -7.16 0 -16V-48C0 -56.84 7.16 -64 16 -64H624C632.84 -64 640 -56.84 640 -48V-16C640 -7.16 632.84 0 624 0zM320 160L436.36 0H203.64L320 160z" />
    <glyph glyph-name="cannabis"
      unicode="&#xF55F;"
      horiz-adv-x="512" d=" M503.47 87.75C501.91 88.57 471.08 104.64 426.6900000000001 113.56C490.9400000000001 188.68 510.7400000000001 275.23 511.6200000000001 279.2C512.8000000000001 284.53 511.1800000000001 290.1 507.3200000000001 293.9700000000001C504.2900000000001 297.01 500.2 298.67 496.0000000000001 298.67C494.8600000000001 298.67 493.71 298.55 492.5600000000001 298.29C488.6800000000001 297.44 406.0200000000001 278.7 331.98 218.53C331.99 219.99 331.99 221.46 331.99 222.93C331.99 341.72 272.01 436.65 269.4600000000001 440.63A15.973000000000003 15.973000000000003 0 0 1 256 448C250.55 448 245.47 445.2200000000001 242.53 440.63C239.98 436.65 180 341.7200000000001 180 222.93C180 221.46 180.01 219.99 180.01 218.53C105.98 278.69 23.32 297.43 19.43 298.29C18.29 298.54 17.14 298.67 15.99 298.67C11.79 298.67 7.7 297.01 4.67 293.9700000000001A15.986 15.986 0 0 1 0.38 279.2C1.26 275.23 21.06 188.68 85.31 113.56C40.92 104.64 10.1 88.57 8.53 87.75A16.003 16.003 0 0 1 8.51 59.46C10.96 58.17 69.27 27.74 142 27.74C148.14 27.74 153.96 27.84 159.5 28.05C148.13 5.82 142.98 -10.26 142.69 -11.17C140.89 -16.85 142.4 -23.0599999999999 146.6 -27.28A16.019 16.019 0 0 1 162.7 -31.27C164.53 -30.7 200.42 -19.28 240 8.02V-56C240 -60.42 243.58 -64 248 -64H264C268.42 -64 272 -60.42 272 -56V8.01C311.58 -19.29 347.4700000000001 -30.7 349.3 -31.28A16.019 16.019 0 0 1 365.4000000000001 -27.29C369.6 -23.07 371.11 -16.86 369.3100000000001 -11.18C369.0200000000001 -10.27 363.8600000000001 5.81 352.5000000000001 28.04C358.0400000000001 27.83 363.8700000000001 27.73 370.0000000000001 27.73C442.7200000000001 27.73 501.0400000000001 58.16 503.4900000000001 59.4499999999999C508.7300000000001 62.2299999999999 512.0100000000001 67.67 512.0000000000001 73.5999999999999C511.9900000000001 79.5399999999999 508.7100000000001 84.9899999999999 503.4700000000001 87.7499999999999z" />
    <glyph glyph-name="capsules"
      unicode="&#xF46B;"
      horiz-adv-x="576" d=" M555.3 147.9L424.2 335.2C401.9 367 366.4 384 330.4 384C307.8 384 284.9 377.3 264.9 363.3C245.2 349.5 231.2 330.5 223.4 309.5C220.5 368.8 172 416 112 416C50.1 416 0 365.9 0 304V80C0 18.1 50.1 -32 112 -32S224 18.1 224 80V229.1C227.3 220.5 231.3 212 236.8 204.1L368 16.8C390.2 -15 425.7 -32 461.8 -32C484.5 -32 507.3 -25.3 527.3 -11.3C579 24.9 591.5 96.2 555.3 147.9zM160 192H64V304C64 330.5 85.5 352 112 352S160 330.5 160 304V192zM354.8 147.1L289.2000000000001 240.8C281.5000000000001 251.8 278.5000000000001 265.2000000000001 280.9000000000001 278.4C283.2000000000001 291.6 290.6 303.2000000000001 301.6 310.9C310.1 316.9 320.1 320 330.4000000000001 320C346.9000000000001 320 362.3 312 371.7000000000001 298.5L437.3000000000001 204.8L354.8000000000001 147.1z" />
    <glyph glyph-name="car-alt"
      unicode="&#xF