/*pre-loader css*/
#loader-wrapper .logo {
    left: 48.7%;
    position: absolute;
    top: 48%;
}

#loader-wrapper .logo a {
    font-weight: 700;
    color: #3498DB;
    font-size: 12px;
}

.logo span {
    color: #f85654;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    -webkit-border: transparent solid 3px;
    border: transparent solid 3px;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    -webkit-border: transparent solid 3px;
    border: transparent solid 3px;
    border-top-color: #444;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    -webkit-border: transparent solid 3px;
    border: transparent solid 3px;
    border-top-color: #1487b2;
    -webkit-animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}