/*Desktop device 1200px*/
@media only screen and (min-width:992px) and (max-width:1199px) {



}


/*Medium device 991px*/
@media only screen and (min-width:768px) and (max-width:991px) {
   


}

/*Mobile device 320px*/
@media only screen and (max-width:767px) {

}

/*Ipade device 480px*/
@media only screen and (min-width:480px) and (max-width:767px) {
   
}

