* {
    margin: 0;
    padding: 0;
    outline: 0;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
a, a:active, a:focus, a:active {text-decoration:none !important}
a:focus {outline:0px solid}
img {max-width:100%}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin:0 0 15px 0;}
.container {transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;}
ul,ol {margin:0;padding:0;list-style:none}

.fix {overflow: hidden;}
.floatleft {float:left;margin-right:10px;}
.floatright {float:right;margin-left:10px;}
.alignleft {text-align:left}
.alignright {text-align:right}
.aligncenter {display:block;margin:0 auto}

a{
    color: #5c5c5c;
}

body {
	font-size: 13px;
    line-height: 23.4px;
}
.top_bar{
    height: 5px;
    background-color: #d24260;
}
header{
    background: #000000;
    position: relative;
    height: 142px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}
header.container form{
    position: absolute;
    right: 16px;
}
header.container form .input-group{
    height: 26px;
    width: 415px;
    -webkit-transform: translate(0,-50%);
            transform: translate(0,-50%)
}
header.container form .input-group ul{
    display: inherit;
    height: 26px;
    margin-top: 5px;
}
header.container form .input-group ul li {margin-right: 10px;text-align: center;}
header.container form .input-group ul li a{
    color:#fff;
    font-size: 14px;
    background: #00acee;
    padding: 3px 6px;
    border-radius: 100px;
}
header.container form .input-group ul li a:hover{
    background: #333333 !important;
}
header.container form .input-group input[type="search"]{
    float: left;
    border: none;
    background: #d24260;
    padding: 0 10px 2px 10px;
    border-radius: 100px 0px 0 100px;
    color: #fff;
}
header.container form .input-group .input-group-append button.btn.btn-link{
    background: #d24260;
    border: none;
    padding: 0 5px 3px 5px;
    border-radius: 0 100px 100px 0;
}
header.container form .input-group .input-group-append button.btn.btn-link i.fa.fa-search{
    border-radius: 100%;
    background: #000000;
    color:#fff;
    font-size: 10px;
    padding: 6px;
}