* {
    margin: 0;
    padding: 0;
    outline: 0;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: 1em 0;
    padding: 0;
}
a, a:active, a:focus, a:active {text-decoration:none !important}
a:focus {outline:0px solid}
img {max-width:100%}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin:0 0 15px 0;}
.container {transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;}
ul,ol {margin:0;padding:0;list-style:none}

.fix {overflow: hidden;}
.floatleft {float:left;margin-right:10px;}
.floatright {float:right;margin-left:10px;}
.alignleft {text-align:left}
.alignright {text-align:right}
.aligncenter {display:block;margin:0 auto}
.px-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* End of Quick Pack design */


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 13px;
    line-height: 20.8px;
    color:#999999;
}
.top_bar{
    height: 5px;
    background-color: #d24260;
}
header{
    background: #000000;
}
header .header_body{
    position: relative;
    height: 142px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}
header .header_body.container form{
    position: absolute;
    right: 16px;
}
header .header_body.container form .input-group{
    height: 26px;
    width: 415px;
    -webkit-transform: translate(0,-50%);
            transform: translate(0,-50%)
}
header .header_body.container form .input-group ul{
    display: inherit;
    height: 26px;
    margin-top: 5px;
}
header .header_body.container form .input-group ul li{
    margin-right: 10px;
    text-align: center;
}
header .header_body.container form .input-group ul li a img{
    margin-top: -4px;
    width: 50%;
    height: 50%;
}
header .header_body.container form .input-group ul li a{
    color:#fff;
    font-size: 14px;
    background: #00acee;
    padding: 3px 5px;
    border-radius: 100px;
}
header .header_body.container form .input-group ul li a:hover{
    background: #333333 !important;
}
header .header_body.container form .input-group .form-control:focus{
    -webkit-box-shadow:none !important;
            box-shadow:none !important;
}
header .header_body.container form .input-group input[type="search"]{
    float: left;
    border: none;
    background: #d24260;
    padding: 0 10px 2px 10px;
    border-radius: 100px 0px 0 100px;
    color: #fff;
}
header .header_body.container form .input-group .input-group-append button.btn.btn-link{
    background: #d24260;
    border: none;
    padding: 0 5px 3px 5px;
    border-radius: 0 100px 100px 0;
}
header .header_body.container form .input-group .input-group-append button.btn.btn-link i.fa.fa-search{
    border-radius: 100%;
    background: #000000;
    color:#fff;
    font-size: 10px;
    padding: 6px;
}


.navbarbody{
    background-color:#000000;
}
.navbarbody .container .navbar{
    background-color: #000000;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#3a383f),to(#0f0f0f));
    background-image: linear-gradient(#3a383f,#0f0f0f);
    height:60px;
}
.navbarbody .container  .navbar .collapse.navbar-collapse.show{
    z-index: 9999;
}
.navbarbody .container  nav.navbar .collapse.navbar-collapse .navbar-nav a{
    color:#fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    border-right:1px solid #fff;
    padding: 4px 15px;
}
.navbarbody .container  nav.navbar .collapse.navbar-collapse .navbar-nav a:last-child{
    border-right:none;
}
.navbarbody .container  nav.navbar .collapse.navbar-collapse .navbar-nav a:hover{
    color:#d24260;
}
.navbarbody .container  nav.navbar .collapse.navbar-collapse .navbar-nav a.active{
    color:#d24260;
}


.sliderbody{
    background-color: #000000;
}
.sliderbody .owl-carousel.owl-theme .item{
    height: 380px;
}
.sliderbody .owl-carousel.owl-theme .item .caption{
    height:100px ;
    width:100%;
    background: rgba(0, 0, 0, .7);
    color:#c0c0c0;
    position: absolute;
    bottom:0;
}
.sliderbody #owl_one .owl-nav button:focus{
    outline:none !important;
}
.sliderbody #owl_one .owl-nav button.owl-prev,.sliderbody #owl_one .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
            transform: translate(0,-50%);
    border-radius: 100%;
}
.sliderbody #owl_one .owl-nav button.owl-prev:hover,.sliderbody #owl_one .owl-nav button.owl-next:hover{
    background: rgba(26, 28, 39, .6);
    border-radius: 100%;
}
.sliderbody #owl_one .owl-nav button.owl-prev{
    left:0;
}
.sliderbody #owl_one .owl-nav button.owl-next{
    right:0;
}
.sliderbody #owl_one .owl-dots{
    position: absolute;
    top:0;
    right:5px;
}



section.sectionbody{
    background-color: #1b1b1b;
    color:#999999;
    border-bottom: 3px solid #151513;
}
section.sectionbody .row.intro h4,section.sectionbody .row.latest_work h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    line-height: 31.2px;
    color:#FFF;
}
section.sectionbody .row.intro .about img{
    padding: 4px;
    border: 1px solid #333;
    max-width: 290px;
    max-height: 140px;
}
section.sectionbody .row.intro a,section.sectionbody .row.latest_work a{
    color:#d24260;
    line-height: 13px;
    text-transform: capitalize;
}
section.sectionbody .row.intro a:hover,section.sectionbody .row.latest_work a:hover,footer .footer_top .blog a:hover,footer .footer_top .newsletter form input[type="submit"]:hover{
    color:#999999;
}
section.sectionbody .row.intro .service .media a i.fas{
    color: #343434;
    font-size: 50px;
    width: 64px;
    height: 64px;
}
section.sectionbody .row.intro .service .media .media-body{
    padding:0 0 20px 15px;
}
section.sectionbody .row.intro .service h6{
    font-size: 14px;
    font-weight:700;
}
section.sectionbody .row.intro .testimonials .row{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
section.sectionbody .row.intro .testimonials .media .media-body h5{
    font-size: 16px !important;
    line-height:19.2px;
    margin-top:15px;
}
section.sectionbody .row.intro .testimonials .media .media-body img{
    float: left;
    padding: 0 10px 0px 0;
}
section.sectionbody .row.latest_work img{
    max-width: 225px;
    min-height: 120px;
}


footer{
    background-color: #201e1d;
    border-top: 1px solid #373432;
}
footer .footer_top h6{
    color:#fff;
    font-size:13px;
    line-height: 15.6px;
}
footer .footer_top .links ul li {
    border-bottom: 1px solid #373432;
    line-height: 14.4px;
    font-size: 12px;
    padding:5px 0px;
}
footer .footer_top .links ul li a{
    color:#999999;
}
footer .footer_top .links ul li a:hover{
    color:#d24260;
}
footer .footer_top .blog a{
    color:#d24260;
    display: block;
    text-align: end;
    font-size: 12px;
}
footer .footer_top .newsletter form input[type="text"],footer .footer_top .newsletter form input[type="email"],footer .footer_top .newsletter form input[type="submit"]{
    background-color: #2c2c2c;
    color:#999999;
    padding: 10px;
    width: 100%;
    border-radius:10px;
    margin-bottom: 10px;
    border:none;
}
footer .footer_top .newsletter form input[type="submit"] {
    font-weight: bold;
    color: #d24260;
    cursor: pointer;
    text-transform: uppercase;
    width:80px;
}
footer .bottom_bg {
    border-top: 1px solid #373432;
}
footer .bottom_bg .footer_bottom {
    font-size: 12px;
    line-height:14.4px;
    color:#737373;
}
footer .bottom_bg .footer_bottom p{
    padding:20px;
    margin-bottom: 0!important;
}
footer .bottom_bg .footer_bottom p:first-child{
    float: left;
}