@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Georgia.ttf") format("truetype"), /* Legacy iOS */
      url("../fonts/Georgia.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Georgia.svg#Georgia") format("svg"), /* Legacy iOS */
      url("../fonts/Georgia.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }